*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-container{
    display: flex;
    background-color: #212529;
    padding-top: 30px;
    padding-bottom: 20px;
}
.item{
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}
h4{
    padding-left: 10px;
    font-weight: bold;
    color: #ffffff;
}
a, span{
  display: block;
  text-decoration: none;
  color: #ffffff;
}
a:hover, span:hover{
    cursor: pointer;
    color: gray;
  }
  .tel{
      padding-left: 0%;
      margin-left: 0%;
  }