.pet-klub{
    margin: 20px 15px;
}
.link-mail{
    color: blue;
    text-decoration: none;
    display: inline-block;
}
h2{
    font-size: 35px;
    font-weight: bolder;
}
h3{
    font-size: 18px;
    font-weight: bolder;
}
ul > li {
    list-style: none;
}
.bold{
    margin: 0;
    font-weight: bolder;
}
.items{
    display: flex;
}
@media screen and (max-width:800px) {
    .items{
        flex-direction: column;
    }
}
.first{
    flex-grow: 1;
    padding-bottom: 20px;
    
}
.second{
    margin-left: 10px;
    flex-grow: 5;
}
p{
    color: black;
    font-weight: 400;
}