.title {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    font-family: "Lucida Handwriting";

}

.second-title {
    margin-top: 60px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    font-family: "Lucida Handwriting";
}

.font-weight-bold {
    font-size: 16px;
    font-weight: bold;
    /* font-family: 'Times New Roman', Times, serif; */
}